* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    color: #333;
}

span {
    font-size: 2rem;
    margin: 1rem 0;
}

select {
    font-size: 1rem;
}